<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c867f998-2402-4b8a-ab5d-2a7910f0c35d/resourceGroups/rg-cr/providers/Microsoft.ContainerRegistry/registries/twdonetregistry</ResourceId>
    <ResourceName>twdonetregistry</ResourceName>
    <ResourceGroup>rg-cr</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://twdonetregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>113f7960-ddac-4acc-b91f-73f66e461b49</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>