name: Workflow B

on:
  workflow_run:
    workflows: [ "Workflow A" ]
    types: [ completed ]

jobs:
  consumer:
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: shared-value
          run-id: ${{ github.event.workflow_run.id }}

      - name: Read value
        run: cat value.txt